<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Page</title>
    <link rel="stylesheet" href="../static/css/account.css">
</head>
<body>
    <header>
        <h1><a href="main.html">Welcome to OnlyRecipes</a></h1>
        <button class="button" onclick="location.href='{{ url_for('auth.main') }}'">Home</button>
    </header>

    <main>
        <h2>Your Account</h2>
        <p>Username: <span id="username">User123</span></p>
        <p>Email: <span id="email">user123@example.com</span></p>

        <h3>Your Recipe Requests</h3>
        <ul id="recipeRequests">
            <!-- Your recipe requests will go here -->
        </ul>
    </main>

    <script src="../static/js/account.js"></script>
</body>
</html>
