<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for character set, viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <!-- Header with welcome message and link to the main page -->
    <h1 class="welcome"><a href="#">Welcome to OnlyRecipes</a></h1>
    <div class="container">
        <!-- Login card containing the form -->
        <div class="login-card">
            <h2>Login</h2>
            <!-- Form for login, with POST method sending data to '/login' endpoint -->
            <form method="Post">
                <!-- Form group for username -->
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <!-- Form group for password -->
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <!-- Form group for auto-login option -->
                <div class="form-group">
                    <div>
                        <label style= "float:left">
                            <input type="checkbox" id="checkbox" name="checkbox" value="checked">
                        </label>
                        <span style = "padding-left: 3px">Auto login</span>
                    </div>
                </div>
                <!-- Submit button for the form -->
                <div class="form-group">
                    <input type="submit" value="Login">
                </div>
                <!-- Links for additional actions like registration and password recovery -->
            </form>
            <div class="links">
                    <a href="/register">Sign up</a> | <a href="/forgot-password">Forgot password?</a>
            </div>
        </div>
    </div>
</body>

</html>