<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/popupForm.css">
</head>
<body>
    <header>
        {% include 'header.html' %}
        {% include 'popupForm.html' %}
        {% include 'noneLogin.html' %}
    </header>

    <main>
        {% include 'cards.html' %}
    </main>
    <script src="../static/js/main.js"></script>
</body>
</html>
