<div id="popupForm" class="popup-form" style="display: {{popup_form}}">
    <form action="/auth/request" method="post">
        <h2>Request a Recipe</h2>
        <label for="mealType">Meal Type:</label>
        <select id="mealType" name="mealType" required>
            <option value="">Select a meal type...</option>
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
            <option value="other">Other</option>
        </select>
        <label for="request">Your Request:</label>
        <textarea id="request" name="request" required></textarea>
        <input type="submit" value="Post">
        <button type="button" id="closeFormButton">Close</button>
    </form>
</div>
