body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .title {
    margin: 2px;
  }
  
  .actions {
    display: flex;
  }
  
  .button {
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .button:hover {
    background-color: grey;
  }

  #request-btn {
    background-color: rgb(213, 29, 29);
  }

  #request-btn:hover {
    background-color: rgb(255, 0, 0);
  }
  
  .search {
    background-color: #f4f4f4;
    padding: 20px 0;
  }
  
  .search .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .category-select {
    padding: 8px 16px;
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search input[type="text"] {
    padding: 8.75px;
    width: 70%;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 9.75px;
    width: 15%;
    cursor: pointer;
  }
  
  .search button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 600px) {
    .header .container {
      flex-direction: column;
      align-items: center;
    }}