<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Example</title>
    <link rel="stylesheet" href="../static/css/header.css">
    
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="title">OnlyRecipe's</h1>
            <div class="actions">
                <button class="button">My Account</button>
                <button class="button" id="request-btn">Request a Recipe</button>
            </div>
        </div>
    </header>
    <div class="search">
        <div class="container">
            <select class="category-select">
                <option selected>Category</option>
                <option value="1">Breakfast</option>
                <option value="2">Lunch</option>
                <option value="3">Dinner</option>
            </select>
            <input type="text" placeholder="Ingredients (eg. eggs, water, toast...)">
            <button class="button">Search</button>
        </div>
    </div>
</body>
</html>
