<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <header>
        <h1>Welcome to OnlyRecipes</h1>
    </header>

    <main>
        <h2>Our Recipes</h2>
        <!-- recipes to go here -->
    </main>

    <button id="openFormButton">Request a Recipe</button>

    <!-- include the pop-up form -->
    {% include 'popupForm.html' %}

    <script src="../static/js/main.js"></script>
    <script src="../static/js/popupForm.js"></script>
</body>
</html>
