<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Page</title>
    <link rel="stylesheet" href="../static/css/recipes.css">
</head>
<body>
    <header>
        <h1><a href="main.html">Welcome to OnlyRecipes</a></h1>
        <button id="myAccountButton" onclick="location.href='account.html'">My Account</button>
        <button id="openFormButton">Request a Recipe</button>
    </header>

    <div class="search">
        <select id="categorySelect">
            <option value="all">All Recipes</option>
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
            <option value="other">Other</option>
        </select>
        <input type="text" id="searchBar" placeholder="Search recipes...">
    </div>

    <main>
        <!-- Your recipes will go here -->
    </main>

    <!-- Include the pop-up form -->
    {% include 'popupForm.html' %}

    <script src="../static/js/main.js"></script>
    <script src="../static/js/popupForm.js"></script>
</body>
</html>
